<div id="page-container">
    <h1> SOME TUTORIAL INFORMATION </h1>
    <div *ngIf="page==1">
        <div *ngFor="let i of [1,2,3,4,5]">
            <p> INSTRUCTION {{i}} </p>
            <img src="https://media.gcflearnfree.org/content/5be4465477c0500354728440_11_08_2018/SSL_sequence_edit.jpg">
        </div>
    </div>
    <div *ngIf="page==2">
        <div *ngFor="let i of [6,7,8,9,10]">
            <p> INSTRUCTION {{i}} </p>
            <img src="https://i0.wp.com/www.mathswithmum.com/wp-content/uploads/2020/01/Mathematical-Sequences-8.gif?resize=600%2C450&ssl=1">
        </div>
    </div>
</div>

<div style="display:flex;margin:20px">
    
    <button mat-button [disabled]="page>2" (click)="nextPage()"> Next Page </button>
    <span style="flex-grow:1"></span>
    <button mat-button [disabled]="page<2" (click)="back()"> Back </button>

</div>

