<div class="status-line" >
    <div class="text"> Mod Loading :</div>    
    <mat-progress-bar mode="determinate" value={{websocketService.modLoadingProgress}}></mat-progress-bar>
</div>

<div class="status-line" >
    <div class="text"> Minecraft Server is Up : </div>    
    <div class="text">{{websocketService.minecraftContainerInitialized}}</div>
</div>

<div class="status-line" >
    <div class="text"> Mod Ready for Connex :</div>     
    <div class="text">{{websocketService.asistModIsReady}}</div>
</div>    

<div class="status-line" >
    <div class="text"> Trial Active</div>    
    <div class="text">{{websocketService.trial_running}}</div>
</div>

