<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content [formGroup]="deleteTrialForm" layout="row" layout-align="center center">
  <fieldset>
    <legend>Trial: {{data.id}}</legend>
    <mat-form-field appearance="fill">
      <mat-label>Trial UUID</mat-label>
      <input matInput formControlName="trial_id" placeholder="UUID" [pattern]="uuidPattern" required autocomplete="off">
      <mat-error>Please use a valid UUID.</mat-error>
      <button mat-icon-button matSuffix (click)="onGenerateUUIDClick()" [disabled]="deleteTrialForm.disabled">
        <mat-icon aria-label="UUID">autorenew</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Name</mat-label>
      <input matInput formControlName="name" placeholder="Name" required autocomplete="off">
      <mat-error>Name is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Date</mat-label>
      <input matInput [matDatepicker]="date" formControlName="date" required autocomplete="off">
      <mat-error>Date is required.</mat-error>
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Experimenter</mat-label>
      <input matInput formControlName="experimenter" placeholder="Experimenter" required autocomplete="off">
      <mat-error>Experimenter is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Subjects</mat-label>
      <textarea matInput formControlName="subjects" placeholder="Subjects..." autocomplete="off"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Number</mat-label>
      <input matInput formControlName="trial_number" placeholder="Trial Number" required autocomplete="off">
      <mat-error>Trial Number is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Group Number</mat-label>
      <input matInput formControlName="group_number" placeholder="Trial Group Number" required autocomplete="off">
      <mat-error>Trial Group Number is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Study Number</mat-label>
      <input matInput formControlName="study_number" placeholder="Trial Study Number" required autocomplete="off">
      <mat-error>Trial Study Number is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Condition</mat-label>
      <input matInput formControlName="condition" placeholder="Trial Condition" required autocomplete="off">
      <mat-error>Trial Condition is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Notes</mat-label>
      <textarea matInput formControlName="notes" placeholder="Notes..." autocomplete="off"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trial Testbed Version</mat-label>
      <input matInput formControlName="testbed_version" placeholder="Testbed Version" required autocomplete="off">
      <mat-error>Testbed version is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Map Name</mat-label>
      <input matInput formControlName="map_name" placeholder="Map Name" required autocomplete="off">
      <mat-error>Map name is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Map Block Filename</mat-label>
      <input matInput formControlName="map_block_filename" placeholder="Map Block Filename" required autocomplete="off">
      <mat-error>Map block filename is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Team ID</mat-label>
      <input matInput formControlName="team_id" placeholder="Team ID" required autocomplete="off">
      <mat-error>Team ID is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Intervention Agents</mat-label>
      <textarea matInput formControlName="intervention_agents" placeholder="Intervention Agents..." autocomplete="off"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Observers</mat-label>
      <textarea matInput formControlName="observers" placeholder="Observers..." autocomplete="off"></textarea>
    </mat-form-field>

    <mat-form-field class="mat-form-field-cursor">
      <mat-label>Add Client Info Item</mat-label>
      <input matInput placeholder="topic" formControlName="client_info_input" aria-label="Client Info Item" autocomplete="off">
      <mat-error>Please use a valid string.</mat-error>
      <button mat-icon-button matSuffix [disabled]="deleteTrialForm.controls.client_info_input.value === '' || deleteTrialForm.controls.client_info_input.invalid">
        <mat-icon aria-label="Add">add_circle</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="fill">
      <mat-label>Client Info List</mat-label>
      <mat-action-list dense>
        <h3 matSubheader>Client Info</h3>
        <mat-list-item *ngFor="let item of client_info;">
          <div mat-line>
            <small>{{item | json}}</small>
          </div>
          <button mat-icon-button disabled>
            <mat-icon aria-label="Remove Item">clear</mat-icon>
          </button>
        </mat-list-item>
        <h3 matSubheader>Source</h3>
      </mat-action-list>
      <textarea matInput hidden></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Trial Experiment</mat-label>
      <mat-select [compareWith]="compareFnExperiments" formControlName="experiment" placeholder="Experiment" required>
        <mat-option *ngFor="let experiment of experiments" [value]="experiment">
          {{experiment.name}}
        </mat-option>
      </mat-select>
      <mat-error>Experiment is required.</mat-error>
    </mat-form-field>
  </fieldset>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onDeleteClick()">Delete</button>
</div>
