<div  style="text-align: center;">  
    
    <div>
        <img class="margin bgImg" >
    </div>
    
    <p class="margin font">{{message}}</p>
    

    <div style="text-align: center;">        
        <mat-progress-bar mode="indeterminate" class="margin" style="width:90%"></mat-progress-bar>    
    </div>  
    
    <div>
        <img class="margin bgImg " >
    </div>

</div>