.testbed-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.mat-card-content {
  overflow-y: auto;
}

.state-ok {
  color: #00ff00
}

.state-warning {
  color: #ffff00
}

.state-error {
  color: #ff0000
}

.table-container {
  //max-height: 300px;
  display: flex;

  table {
    flex: 1;
  }
}
