<h1 mat-dialog-title>Consent Form</h1>
<div mat-dialog-content style="overflow-x: hidden;width: 600px">
    <p>INTRODUCTION</p>
    <p>The purposes of this form are to provide you (as a prospective research study participant) information that may affect your decision as to whether or not to participate in this research and the consent of those who agree to be involved in the study.</p>
    <p>RESEARCHERS</p>
    <p>Arizona State University: Nancy J. Cooke (Professor); Verica Buchanan (graduate student), Myke Cohen (graduate student), Aaron Teo (graduate student), Matthew Willett (graduate student), Lixiao Huang (Associate Research Scientist), Mustafa Demir (research faculty), Matt Peel (graduate student), Michael Buchanan (undergraduate)</p>
    <p>Aptima: Adam Fouse, Zachary Klinefelter </p>
    <p>STUDY PURPOSE</p>
    <p>The U.S. Department of Defense is funding this study which will develop and evaluate agents that demonstrate artificial social intelligence. The results will enable the DoD to gain strategic advantage by systematically creating expert teams of human and AI. </p>
    <p>DESCRIPTION OF RESEARCH STUDY</p>
    <p>To participate in this study, you need to be 18 years or older, have access to the internet on a personal computer, can communicate in English, have normal color vision, have some experience with the Minecraft computer games using a mouse and a keyboard, have a mouse and a keyboard, and have access to a paid Minecraft account, have right to install Minecraft Forge and mods to your computer. You will participate remotely from a location of your choice that is quiet and has the requisite equipment. </p>
    <p>After affirming your consent, you will fill out the required surveys,  waiting to be paired up with two other players as a team to complete some bomb defusing missions. Your team can play as many missions as you like until one member quits. Then if you want to keep playing you will go back to the lobby and wait to be paired up with other two players who are ready to play. After each mission, you will answer a few questions for mission reflection. Your responses are critical to our research, but you are allowed to skip any questions that you choose not to answer. </p>
    <p>The activities and estimated minutes to complete them are as follows: </p>
    <ul>
        <li>Registration and Consent Form (10) </li>
        <li>Survey (5) </li>
        <li>Mission 1 (10-30) and Post-mission survey (5)</li>
        <li>Mission 2 (10-30) and Post-mission survey (5)</li>
        <li>Mission N (10-30) and Post-mission survey (5)</li>
        <li>As many additional missions as you would like </li>
    </ul>
    <p>RISKS</p>
    <p>There are no known risks from taking part in this study. Your personal information in this research study is confidential and no identifying information will be stored with your data. As part of experiment administration for repeat play and providing gift card awards you will be given a unique identifier that will be associated with your email address and separately stored on a secure administrator drive. </p>
    <p>BENEFITS</p>
    <p>You will be exposed to artificial intelligence research and will gain research experience. In addition, you may enjoy the Minecraft experience. </p>
    <p>COMPENSATION</p>
    <p>There is no default compensation for this study. However, at the end of data collection (estimated to be August 2023) there will be a $50 Amazon gift card awarded to each member of the 10 best performing teams. Furthermore, each week we will have a drawing among teams participating that week and scoring in the top 50% for a chance to win a $25 Amazon gift card for each team member. If you need research credit to fulfill the requirement of the course HSE 101, you can email gsi.chart8@gmail.com to request it. If you are unable to complete the study due to technological issues, there is no penalty. </p>
    <p>CONFIDENTIALITY</p>
    <p>In order to maintain confidentiality of your information, we will follow these procedures: (1) Each participant will be randomly assigned a unique participant ID though our software; (2) All personal information (name, email address, and Minecraft account) will be stored in password- protected online file storage system accessed only by a few authorized experimenters; (3) All performance data (surveys, and Minecraft action events) will be stored in a separate online storage system that only links to the participant ID, without any link to any personal information. (4) These de-identified performance data may be shared with all performers in this research program, including the Aptima researchers listed above and will be made available to other interested investigators for future research purposes. (5) Only a few authorized experimenters have access to both personal information and de-identified performance information through participant ID for the purpose of sending awards. The US Department of Defense, the sponsor of this study, will have access to de-identified research records as part of their responsibilities for human subject protection oversight of the study. The results of this research study may be used in reports, presentations, and publications, but the researchers will not identify you. De- identified data collected as part of the current study will be shared with other investigators or industry partners for future research purposes. </p>
    <p>WITHDRAWAL PRIVILEGE</p>
    <p>Participation in this study is completely voluntary. It is ok for you to say no. Even if you say yes now, you are free to say no later, and withdraw from the study at any time. Your participation is voluntary and that nonparticipation or withdrawal from the study will not affect your status in a class. </p>
    <p>VOLUNTARY CONSENT</p>
    <p>Any questions you have concerning the research study or your participation in the study, before or after your consent, will be answered by the ASIST experimenter team at gsi.chart8@gmail.com </p>
    <p>If you have questions about your rights as a subject/participant in this research, or if you feel you have been placed at risk; you can contact the Chair of the Human Subjects Institutional Review Board, through the ASU Office of Research Integrity and Assurance, at 480-965-6788. </p>
    <p>This form explains the nature, demands, benefits and any risk of the project. By clicking the yes option below, you agree knowingly to assume any risks involved. Remember, your participation is voluntary. You may choose not to participate or to withdraw your consent and discontinue participation at any time without penalty. In clicking the yes option to consent, you are not waiving any legal claims, rights, or remedies. A digital copy of this consent will be emailed to you upon request. </p>
    <p>Do you understand the instructions above and consent to participate in this experiment?</p>
    <hr>
    <p>ASU IRB IRB # STUDY00017227 | Approval Period 1/9/2023</p>
</div>
<mat-radio-group [(ngModel)]="accepted">
    <mat-radio-button tabIndex="-1" color="primary" [value]="true">Yes, I understand and consent to participate.</mat-radio-button>
</mat-radio-group>
<div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button color="primary" [disabled]="!accepted" mat-flat-button [mat-dialog-close]="accepted">Continue</button>
</div>
