header {
    text-align:center;
    margin-top: 1rem;
}

header img {
    height:3rem;
}

nav a {

    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    margin:.5rem;
    padding: .25rem .5rem;
    border-radius: 4px;
    font: 400 .75rem / 20px Roboto, Helvetica Neue, sans-serif;
  }

nav a:hover {
    color: white;
    background-color:  #3f7853;
}

nav a.active {
    background-color: #545454;
    color: white;
}

footer {
    text-align:center;
    height: 60px;
    padding-top: 40px;
    color: rgb(214, 214, 214);
}

footer a {
    color:rgb(214, 214, 214);
}

.faq-plain {
    background: black;
}
.contact-card {
    color: white;
    background-color: transparent;
    
}


