<!-- <div *ngIf="this.iconSelectorService.flagPlacingMode" class="cursor" [style.z-index]=10 [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}">
    <img id="flagCursor" style="height:3rem;width:3rem;" src={{this.sessionService.getAssetPath(iconPaths[0])}}>
</div> -->

<app-map-parent ></app-map-parent>
