
<div [ngClass]="{'noheader': noheader}" fxflex="" fxlayout.xs="column" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0px; justify-content: center;">
    <div class="login-main" fxflex="" fxlayout.xs="column" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0px;">
        <div fxflex="3 1 50%" fxflexorder="" fxflexorder.xs="1" style="flex: 3 1 50%; box-sizing: border-box; max-width: 50%;" fxLayoutAlign="center none">
            <div class="mechanics-card-container" fxLayout="column" fxLayoutGap="20px">
                
                <mat-card class="mechanics-card">
                    <h1>Frequently Asked Questions</h1>

                    <div class="faq-toc">
                    Categories:
                        <ul>
                            <li><a routerLink="/FAQ" fragment="faq-cat-general" [skipLocationChange]="true">General</a></li>
                            <li><a routerLink="/FAQ" fragment="faq-cat-registration" [skipLocationChange]="true">Registration</a></li>
                            <li><a routerLink="/FAQ" fragment="faq-cat-download" [skipLocationChange]="true">Download the Mod</a></li>
                            <li><a routerLink="/FAQ" fragment="faq-cat-login" [skipLocationChange]="true">Waiting Room</a></li>
                            <li><a routerLink="/FAQ" fragment="faq-cat-resize" [skipLocationChange]="true">Resizing Windows</a></li>
                            <li><a routerLink="/FAQ" fragment="faq-cat-gameplay" [skipLocationChange]="true">Gameplay</a></li>
                            <li><a routerLink="/FAQ" fragment="faq-cat-contact" [skipLocationChange]="true">How to Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="faq-category" id="faq-cat-general">General</div>
                        <div class="faq-question">What is this game?</div>
                        <div class="faq-answer">This game was developed as a testbed for our <a target="_blank" href="https://artificialsocialintelligence.org/about/">fourth and final ASIST study</a> to allow us to do research on teamwork and performance in a virtual environment with artificial teammates. The game comprises a team-based bomb disposal task built in the Minecraft world. The goal of the game is to work together to dispose of as many bombs as possible while avoiding harm due to potentially dangerous situations that may occur. Teams have a budget with which to buy tools to help with the task, as well as several planning tools including a recon phase, map, hazard beacons, markers, and a chat function to communicate with each other during planning phases. For more detailed information on the game, please view the tutorial video on the <a target="_blank" [attr.href]="createSpsoUrl('Login')">login page</a>. For additional information, please also visit our website: <a target="_blank" href="https://artificialsocialintelligence.org">artificialsocialintelligence.org</a>. </div>
                        <div class="faq-question">Is there any cost to play?</div>
                        <div class="faq-answer">While a minecraft account is required to play, there are no additional costs to play this game. </div>
                        <div class="faq-question">Are there any prizes for playing the game?</div>
                        <div class="faq-answer">Players will be competing for the highest team score. At the end of the study (Fall 2023), the 10 highest scoring teams will be rewarded with a $50 Amazon gift card for each player. Additionally, we will do a random drawing of one team per week from the top 50% performing teams and each player will receive a $25 Amazon gift card. The more trials you play within a given week, the more likely you are to be selected for the weekly prize. </div>
                        <div class="faq-question">What data are you collecting from me?</div>
                        <div class="faq-answer">We are primarily interested in how teams work together and perform during the game. To elicit this information, we have several surveys that will be completed before the first two times you play, and after each trial. Additionally, we are collecting game metric data from the Minecraft testbed during each trial. For more detailed information about what data we collect, how we will use that data, our plan to keep your data confidential, and your rights concerning the data we collect from you, please view our <a target="_blank" [attr.href]="createSpsoUrl('assets/ASIST_Study_4_Consent_Form.pdf')">informed consent form</a>. </div>
                    <div class="faq-category" id="faq-cat-registration">Registration</div>
                        <div class="faq-question">How do I register to play the game? </div>
                        <div class="faq-answer">To play the game, you must have an existing Minecraft account with the Java version of Minecraft installed on your computer. You will then need to register with an account at socialai.games under the “Register” tab. It is very important that you register using your existing Minecraft username as your username for this game (case sensitive). Once you have successfully registered, you will receive an email from our system indicating your username and password. These credentials will allow you to login and play the game. More detailed instructions can be found under the “Register” tab of the game website socialai.games. </div>
                    <div class="faq-category" id="faq-cat-download">Download the Mod</div>
                        <div class="faq-question">How do I download the ASIST Minecraft Mod?</div>
                        <div class="faq-answer">There are two options for downloading and installing the Minecraft Mod. The first option is to use CurseForge. The second option is to download and manually install the Mod. Instructions for both options are found on the <a target="_blank" [attr.href]="createSpsoUrl('Download')">Setup</a> page. Once you have downloaded the Mod and installed it, you can check your Mods directory within the Minecraft main menu to ensure you have installed it correctly. You should see a Mod called ASIST 4.2.7. </div>
                    <div class="faq-category" id="faq-cat-login">Login</div>
                        <div class="faq-question">How do I log in?</div>
                        <div class="faq-answer">To log in to play the game, go to socialai.games and enter your credentials that were sent to you when you registered. </div>
                        <div class="faq-question">Why am I having trouble logging in?</div>
                        <div class="faq-answer">Please check that your username and password match exactly with the credentials in the email you received, and that the username you used to register exactly matches your Minecraft username. If you are still having trouble logging in, please contact our team at <a href="mailto:support@socialai.games?subject=SocialAI.games Support">support@socialai.games</a> with your issue. Please include your username and the email address you registered with when contacting us. </div>
                    <div class="faq-category" id="faq-cat-waiting">Waiting Room</div>
                        <div class="faq-question">Why can’t I find a team to play with?</div>
                        <div class="faq-answer">The game is only playable in teams of 3. While we can’t control when players will join the waiting room to play, the most likely times to find a team to play the game with are M-F during the hours of 5pm to 10pm AZ time. </div>
                        <div class="faq-question">Why do I encounter an error when loading into the game with my team?</div>
                        <div class="faq-answer">
                            <p>Some issues can be resolved by clicking “Refresh” on your browser. If you are having trouble in the waiting room or while loading into a game, try clicking “Refresh.”</p> 
                            <p>The most common reason for errors while loading into the game is registering with a username different from your Minecraft username. To play the game, you must ensure your username used to register and log into the ASIST site is exactly the same, including the case, as your Minecraft username. See the <a target="_blank" [attr.href]="createSpsoUrl('Registration')">“Register” page here</a> for more information on using the correct username. If you registered with an incorrect username, please register again using your Minecraft account username.</p>
                            <p>The second most common reason for errors while loading into the game is not having the ASIST Mod installed correctly. To play the game, the ASIST Mod must be placed in the proper Mod directory. See the <a target="_blank" [attr.href]="createSpsoUrl('Download')">“Setup” tab here</a> for more information on how to download and install the Mod.</p>
                            <p>If the above do not apply, It is possible that the server encountered an issue while creating your game. Please disconnect from the game in Minecraft and log out of the waiting room before logging back in to try to play again. If this issue persists, please email us at <a href="mailto:support@socialai.games?subject=SocialAI.games Support">support@socialai.games</a> and include your username and the email address you registered with.</p>
                        </div>
                        <div class="faq-question">Why so many surveys?</div>
                        <div class="faq-answer">The surveys included in this study are important for us to better understand some important aspects of who is playing the game. While the surveys take a few minutes, you will only have to complete the pre-trial surveys the first two times you log in to the waiting room. After that, you will not have to complete any surveys before playing the game. The post-trial surveys, which are much shorter, are to be completed after each trial. The information collected with the surveys will help us with our research goals for this game. We appreciate your willingness to participate and complete the surveys. </div>
                    <div class="faq-category" id="faq-cat-resize">Resizing the Minecraft window</div>
                        <div class="faq-question">How do I resize my windows for the game? </div>
                        <div class="faq-answer">When you hit play after launching, you should be able to drag the edges of the Minecraft Launcher to fit the right half of the screen</div>
                        <div class="faq-question">How do I exit Full screen mode?</div>
                        <div class="faq-answer">Minecraft launcher → Options → Video controls → Full screen: off</div>
                    <div class="faq-category" id="faq-cat-gameplay">Gameplay</div>
                        <div class="faq-question">How do I play the game? </div>
                        <div class="faq-answer">Please view our tutorial video on the <a target="_blank" [attr.href]="createSpsoUrl('Login')">login page</a>. </div>
                        <div class="faq-question">I got disconnected during my game due to an error, dropped internet connection, server crash, teammate left, or any other reason. What should I do? </div>
                        <div class="faq-answer">While unfortunate, errors can occur in the servers supporting gameplay, causing trials to crash and players to be disconnected. Before leaving the game completely, try using the “Refresh” button on your browser. This may allow you to reconnect and continue playing with your team. If you are unable to keep playing, we apologize for any inconvenience and encourage you to try playing again. Please disconnect from the game in minecraft and log back into the waiting room to start over. </div>
                    <div class="faq-category" id="faq-cat-contact">How to Contact Us</div>
                        <div class="faq-question">What if I have other questions?</div>
                        <div class="faq-answer">If you have any other questions, feel free to email our team at: <a href="mailto:support@socialai.games?subject=SocialAI.games Support">support@socialai.games</a></div>
                </mat-card>
            </div>
        </div>
    </div>
</div>