#StoreInteractionContainer{
    
    text-align: left;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, .7);
    overflow-y: auto;
    height:84vh;
    border:2px solid gray;
    padding-right: 1vw;
    padding-left: 1vw;
}

#LeaveStoreButton{
    width: 99%;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.tool,p{
    display:inline;
    cursor: pointer;    
}

.plusminus{
    width: 1.5rem;
    max-height: 1.5rem;
    background-color: seagreen;
    color: white;
    font-size: 1rem;
    position:relative;
    top:-.25rem;
    cursor: pointer;
    margin-left: .25rem;    
}

p{
    font-size: 2rem;
}

td{
    min-width:10vw;
    height:3rem;
}

.trashcan{

    width: 1.3rem;
    height: 1.3rem;
    margin-left: .25rem;
    cursor: pointer;
    
    position: relative;
    
}

