<div fxLayoutAlign="center none" >
    <div class="leaderboard-card-container" fxLayout="column" fxLayoutGap="20px">
        <mat-card class="info-card">
            <mat-card-header>
                <mat-card-title>
                    <h1>Leaderboard</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div style="max-height:60vh;overflow-y: auto;">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Team</th>
                                <th>Date</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trial of trials;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{trial.teamId}}<br> <span class="fineprint" *ngFor="let member of trial.members;let last = last">{{!last? member + ', ': member}}</span></td>
                                <td>{{trial.startTimestamp | date}}</td>
                                <td>{{trial.teamScore}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                    
            </mat-card-content>
        </mat-card>
    </div>
</div>
