.card-container {
    padding: 20px;
}

.leaderboard-card {
    min-width: 150px;
    max-width: 100%;
    width: 500px;
}

.full-width {
    width: 100%;
}

a {
    color:lightskyblue;
}

a:visited {
    color: rgb(198, 190, 240);
}


.card-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.info-card-container {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
}

.leaderboard-card-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top:20px
}

.leaderboard-card-container table {
    width: 100%;
    color: white;
}

.leaderboard-card-container th {
    text-transform: uppercase;
    font-size: 90%;
    color:limegreen;
    text-align:left;

  }

.leaderboard-card-container tbody td {
    text-align:left;
  }

  .info-text a {
    color: lightblue;
}

.info-card {
    background-color: rgba(0,0,0,0.4);
}

.info-card h1 {
    color: white;
}

.info-card h2 {
    color: white;
    margin: 0;
    font-size: 120%;
    text-transform: uppercase;
}