html,body{
    width:100%;
    height:100%;
}

body{
    position: absolute;
}

#Map{
    z-index: 1;
    position: absolute;
}

#GridLayer{
    z-index: 2;
    position: absolute;
    display:grid;
}

.GridDivs{  
    position:relative;  
    z-index: 2;   
    color:Black;
    border: 2px dashed White
    
 }

.Player{
    z-index: 0;
    position: absolute;
    width:16px;
    height:16px; 
    
}

app-flag-placer-menu{
    z-index: 4;
    position: absolute;
    display:none
}