html,body{
    height:100%;
    width:100%;
}

#map-parent-div{
    min-width: 50vw;   
}

#title-bar{
    background-image: url(../../assets/lobby_background.png) ;
    background-size: 50vw;
}

#leave-game-button{
    height: 80%;
    color: #ff0;
    font-size: 2vh;
    background-color: #1e90ff;
    border-radius: 10px;
    cursor: pointer;
    margin: auto 1vw;
    padding: 1vh;
}


mat-tab-group{
    max-height: 90vh;
    min-width:45vw;
}

::ng-deep .mat-tab-label{
    font-size: 1.5rem !important;
    min-width: 1rem !important;
    max-width: 10rem !important;
    padding: 1rem !important;
}

