<html style="overflow-x: hidden;">
<body id="body">

<div id="title-div"style="text-align: center;display:flex; padding:1rem; display: flex;">
    <!-- <p style="color: lightgray; background-color: rgba(0,0,0,.5);">WAITING ROOM</p> -->
    <input [(ngModel)]="sessionService.devMode" type="checkbox" >    
    <h2 >TEAM FORMATION QUEUE</h2>
    <span style="flex-grow: 1;"></span>
    <div id="bounceStatus" *ngIf="websocketService.bounceInProgress">
        <h2>Bounce In Progress - Wait To Proceed</h2>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>    
    </div>
    <span style="flex-grow: 1;"></span>
    <button (click)="logout()">Log Out</button>
    <span style="flex-grow: 1;"></span>
    <div>
        <h2 style="display:block;">{{websocketService.assigned_name}}:{{playerManager.participant_id}}</h2>
        <p  style="display:block;"> Connected : {{!websocketService.disconnected}}</p>
        <p  *ngIf="websocketService.disconnected" style="display:block;"> Timeout in : {{websocketService.timeToDisconnect}}ms</p>
    </div>
    
    <!-- <img style="height:80px;" src="assets/logo/SocialAI_WhiteLogo.png"> -->
</div>


<div id="main-container" style="display: flex; height: 80%;">
    
    <div id="left_section">                    
            <div id="table-container" style="margin: 1rem">
                <table>
                    <tr>
                        <th style="width:1rem;height:1rem;display: inline-block;margin-right:1rem;width:40%;text-align: left;">
                            Player                        
                        <th>PID</th> 
                        <th>Ready To Play</th>   
                        <th>Team Formed</th> 
                        <th>Server Created</th> 

                        <th *ngIf="sessionService.devMode">Pings</th>
                        <th *ngIf="sessionService.devMode">Status</th>
                    </tr>
                    <div style="height:2rem;"></div>   
                    <tr *ngFor="let p of playerManager.players.values(); let i=index;">
                        <td style="width:40%;text-align: left;">
                            <div [style.background]=getColor(i) style="position:relative; top:.15rem; width:1rem;height:1rem;display: inline-block;margin-right:1rem; border-radius: 1rem;">
                            </div>
                            <p style="display: inline-block; " >
                                {{p.name}}
                            </p>
                        </td>
                        <td>{{p.participant_id}}</td> 
                        <td> 
                            <mat-spinner  [diameter]=30 *ngIf= !isPlayerReady(p) style="margin: auto;"></mat-spinner>  
                            <input *ngIf= isPlayerReady(p) style="width:1rem;height:1rem" [checked]=true type="checkbox"> 
                        </td> 
                        <td>
                            <div>
                                <p *ngIf="!( isFormingTeam(p) || isTeamFormed(p) )" >---</p>
                                <mat-spinner [diameter]=30 *ngIf=isFormingTeam(p) style="margin: auto;"></mat-spinner> 
                                <input *ngIf= isTeamFormed(p) style="width:1rem;height:1rem" [checked]=true type="checkbox"> 
                            </div>

                        </td> 
                        <td>
                            <p *ngIf="!( isLoadingServer(p) || isServerLoaded(p) )" >---</p>
                            <mat-spinner [diameter]=30  *ngIf=isLoadingServer(p) style="margin: auto;"></mat-spinner> 
                            <input *ngIf= isServerLoaded(p) style="width:1rem;height:1rem" [checked]=true type="checkbox">
                        </td>                     
                        <td *ngIf="sessionService.devMode">{{p.pings_connected}}</td>
                        <td *ngIf="sessionService.devMode">{{p.status}}</td> 
                        <td *ngIf="sessionService.devMode">{{p.team}}</td>                           
                    </tr>                    

                </table>
            </div> 
                         
    </div> 
    <span id="divider" style="width:5%"></span>   
    <div id="right_section" style="overflow:hidden" #right_parent>
        <!-- <mat-card class="card" id="right-card"> -->
            <div id="interaction-container" style="height:100%">                
               
                <!-- <div *ngIf="!playerManager.survey_session_active" id="tutorial-page-container">
                    <app-tutorial-page></app-tutorial-page>
                </div> -->
                <mat-tab-group class="mat-tab-fill-height" id="tabs" [selectedIndex]=0 style="height:100%">
                    <mat-tab label="Instructions ">
                        <div id="outerdiv" style="height: 100%;width:100%;display: flex;flex-direction: column;" >
                            <div style="height:3rem;"></div>   
                            <div style="text-align: center;">
                                <h2 >Welcome to the ASIST Experiment ONLINE WAITING ROOM!</h2>
                                <div style="height:10%;"></div>> 
                                <P class="instructions">You have been entered into the waiting queue and should see your Minecraft Username in the list to the left.</P>
                                <P class="instructions">You are required to take a total of 6 surveys in this experiment, 4 surveys before your first play session, and 2 additional before your second session.</P>
                                <p class="instructions">Completion of the required survey (4 now / 2 later ) will mark you ready for participation.</p>
                                <p class="instructions">You will see that you are ready when a checkmark appears next to your Username in the list to the left.</p>
                                <p class="instructions">If you see a "Take Required Surveys" button below, click it to begin taking your 4 required surveys.</p>
                                <p class="instructions">If you see a "Take Remaining Surveys" button below, click it to begin taking your 2 remaining surveys.</p>
                                <p class="instructions">If you have already taken all 6 surveys, wait 15 seconds and you will be marked as Ready automatically.</p>                                
                                <p class="instructions">When a team has been assembled for you, a dialog box will popup allowing you to Proceed to the Experiment.</p>
                                <p class="instructions">While you are waiting, take some time to familiarize yourself with some basic game mechanics by clicking on the Game Mechanics tab.</p>
                                <p class="instructions">Good Luck!</p>
                            </div>
                            <div style="height:5rem;"></div>       
                            <div style="text-align: center;padding: 10% 45%;">                                
                                <button class="btn" *ngIf="playerManager.requiredSurveysTaken==false" id="take-survey-button" style="height: 3rem;" (click)="takeSurvey()">TAKE REQUIRED SURVEYS</button>
                                <button class="btn" *ngIf="playerManager.requiredSurveysTaken==true && playerManager.optionalSurveysTaken==false" id="take-survey-button" style="height: 3rem;" (click)="takeSurvey()">TAKE REMAINING SURVEYS</button>
                                <p *ngIf="playerManager.ready_to_play_on_selection" style="color: #d8ff00;background-color: rgba(0,0,0,.2);">READY TO PLAY WHEN SELECTED</p>                            
                                <button class="btn" *ngIf="playerManager.selected_to_play" id="ready-to-play-button"  style="margin-right: 1rem;height: 3rem;" (click)="proceedToExperiment()">I'M READY TO PLAY!</button>
                            </div> 
                        </div>                                                               
                    </mat-tab>
                    <mat-tab label="Game Mechanics" style="height:100%;width:100%;">
                        <div id="mechanicsouterdiv" >
                            <div class="instructionsCol" style="height:100%;width:33%">
                                <h2>Basics</h2>
                                <h3>Goal</h3>
                                    <p>The goal of the game is to plan and coordinate with your team to dispose of bombs while avoiding damage. You will get points for disposing of bombs, and lose points when you get injured.</p>
                                <!--<h3>Mission Brief</h3>
                                    <p>Once the game begins, you be presented with a Mission Brief that explains your team&rsquo;s mission. Please read the brief carefully and follow its guidance.</p>-->
                                <h3>Setup</h3>
                                    <p>This game uses a web interface alongside Minecraft for some of the interactions. When you start playing, you should arrange your screen so that the browser window takes up the left half of the screen, and your Minecraft Client takes up the right half of the screen.</p>
                                <h3>Basic Controls</h3>
                                    <p>Basic controls are the same as reguar Minecraft controls, with the following exceptions:</p>
                                    <ul>
                                        <li>Several controls are disabled, including sprint, jump, and dropping items.</li>
                                        <li>The full inventory is not available. You can only select from tools in the hotbar, and pressing the &ldquo;E&rdquo; key will allow you to vote to &ldquo;return to the shop.&rdquo;</li>
                                    </ul>
                                <h3>Game Flow</h3>
                                    <p>There are 3 phases of the game:</p>
                                    <ul>
                                        <li><strong>Recon:</strong> Your first activity will be to conduct recon of the field. During recon you will have access to a limited supply of beacons to things in the field to help with your planning.</li>
                                        <li><strong>Shop:</strong> In the shop, you will get your Mission Brief, and you will plan and select tools. You can return to the shop at any time.</li>
                                        <li><strong>Mission execution:</strong> In the field, you will scout the area and dispose of bombs.</li>
                                    </ul>
                                    <p>You will have 3 minutes for Recon and 10 minutes for mission execution. When you are in the shop, the clock is paused.</p>
                                <h3>Damage</h3>
                                    <p>When you are near a bomb that explodes or in fire, you will lose hearts in your health bar.</p>
                                    <p>If you lose all your hearts, you will be frozen in place. To un-freeze and restore your health, a teammate needs to take any action (use any tool) on you.</p>
                                <h3>Team Formation</h3>
                                    <p>When three players are in the waiting room, have completed their profile surveys, and are ready to play, they will be combined to form a team.</p>
                                    <p>When you proceed to the game, you will be given instructions for configuring your Minecraft Client and connecting to the server.</p>
                            </div>
                            <div class="instructionsCol" style="height:100%;width:33%">
                                <h2>AI Advisors</h2>
                                <h3>Advice</h3>
                                <p>During some games, you will receive advice from an AI advisor on how to achieve better team performance. This will be shown above the chat when you are in the shop, and within Minecraft when you are in the field.</p>
                                <h3>Advice Responses</h3>
                                <p>When you are given advice, you can respond by clicking on buttons when you are in the shop or using the pressing the I, O, or P keys when you are in the field.</p>
                                <h2>Bombs &amp; Tools</h2>
                                <h3>Bomb Disposal</h3>
                                <ul>
                                    <li>Inspect the bomb by right-clicking on the bomb. This will tell you the number and sequence of wires that need to be cut.</li>
                                    <li>Every bomb has a timed fuse. You can see the time when you inspect the bomb. 15 seconds after reaching the time indicated by <code>FUSE_START_MINUTE</code>, the bomb will automatically explode.</li>
                                    <li>Apply colored wirecutter tools in the correct sequence to dispose of bombs.</li>
                                    <li>Once you have started disposal, you or your teammates have 15 seconds to cut the next wire.</li>
                                    <li>If the bomb is chained, you need to dispose of the bomb indicated by <code>CHAINED_TO</code> before starting disposal.</li>
                                </ul>
                                <h3>Bomb Types</h3>
                                <p>There are 3 types of bombs:</p>
                                <div class="instructionItems">
                                    <div class="instructionItem" style="width:30%">
                                        <img src="assets/icons/standardbomb-skin.png">
                                        <div class="itemName">Standard</div>
                                        Stable for diagnosis until its fuse time is up.
                                    </div>
                                    <div class="instructionItem" style="width:30%">
                                        <img src="assets/icons/firebomb-skin.png">
                                        <div class="itemName">Fire</div> Starts a fire when it explodes.
                                    </div>
                                    <div class="instructionItem" style="width:30%">
                                        <img src="assets/icons/chainedbomb-skin.png">
                                        <div class="itemName">Chained</div> Standard bombs, with a requirement to dispose of other linked bombs first.
                                    </div>
                                </div>
                                <h3>Tools</h3>
                                <p>In the shop, you can purchase these tools. All tools are single-use and applied by right-clicking.</p>
                                <div class="instructionTools">
                                    <div class="instructionTool">
                                        <div class="toolIcon"><img src="assets/icons/item_wirecutters_all.png"></div>
                                        <div class="toolText"><span class="itemName">Wirecutters (Cost: 1)</span><br>
                                            Cuts a color-matched wire to disarm one stage of a bomb. Available as Red, Blue, or Green.
                                        </div>
                                    </div>
                                    <div class="instructionTool">
                                        <div class="toolIcon"><img src="assets/icons/item_bomb_sensor.png"></div>
                                        <div class="toolText"><span class="itemName">Bomb Sensor (Cost: 2)</span><br>
                                            Show the nearest bomb with a fire flame.
                                        </div>
                                    </div>
                                    <div class="instructionTool">
                                        <div class="toolIcon"><img src="assets/icons/item_fire_extinguisher.png"></div>
                                        <div class="toolText"><span class="itemName">Fire Extinguisher (Cost: 1)</span><br>
                                        Puts out a 9-cell block of fire.
                                        </div>
                                    </div>
                                    <div class="instructionTool">
                                        <div class="toolIcon"><img src="assets/icons/block_bomb_disposer.png"></div>
                                        <div class="toolText"><span class="itemName">Bomb Disposer (Cost: 10)</span><br>
                                        Disposes a bomb immmediately, regardless of how many wires the bomb has.
                                        </div>
                                    </div>
                                    <div class="instructionTool">
                                        <div class="toolIcon"><img src="assets/icons/item_bomb_ppe.png"></div>
                                        <div class="toolText"><span class="itemName">Bomb PPE (Cost: 3)</span><br>
                                        When equipped, will prevent you from being injured by a bomb explosion.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="instructionsCol" style="height:100%;width:33%">
                                <h2>Planning &amp; Comms</h2>
                                <h3>Web Interface for the Field and Shop</h3>
                                <p>In the web interface, there are 3 tabs:</p>
                                <ul>
                                    <li>Info - for field usage</li>
                                    <li>Shop:Plan - use map markers to coordinate and prioritize activity</li>
                                    <li>Shop:Tools - purchase tools purchase and communicate with teammates</li>
                                    <li>FAQ/Help - Help with technical questions</li>
                                </ul>
                                <h3>Planning</h3>
                                <p>Planning with your team is essential to success in the game. Use these features to help you plan:</p>
                                <ul>
                                    <li><strong>Place Flags:</strong> In the planning tab, you can use the flags to coordinate your activity. To place a flag, right-click on the map, then select a flag priority. </li>
                                    <li><strong>Respond to Flags:</strong> Everyone can see each other&rdquo;s flags on the map. If you see a teammate&rsquo;s flag, you can click on it to see details and respond about how you will coordinate. </li>
                                    <li><strong>Inspect Beacons:</strong> Beacons placed in the field also show up on the map. You can see details about the beacons by clicking on them. </li>
                                </ul>             
                                <h3>Communication</h3>
                                <p>Minecraft Chat is disabled in the game. In its place, use these methods to communicate with your teammates:</p>
                                <ul>
                                    <li>Shop Chat: On the Planning and Shop tabs, there is a standard chat interface.</li>
                                    <li>Map: Place and respond to markers on the map to communicate your plans with teammates.</li>
                                    <li>Communication Beacons: In the field, you are limited to using communication beacons (see below).</li>
                                </ul>
                                <h3>Communication Beacons</h3>
                                <p>There are 2 types of communication beacons for use in the field:</p>
                                <div class="instructionItems">
                                    <div class="instructionItem" style="width:45%">
                                        <img src="assets/icons/block_beacon_bomb.png">
                                        <div class="itemName">Bomb Beacon</div>
                                        When placed on a bomb, it will communicate the location and sequence for that bomb.
                                    </div>
                                    <div class="instructionItem" style="width:45%">
                                        <img src="assets/icons/block_beacon_hazard.png">
                                        <div class="itemName">Hazard Beacon</div> 
                                        Right click on the ground to place a hazard beacon, and you can select from pre-set message options.
                                    </div>
                                </div>
                                <p></p>
                                <h2>Scoring</h2>
                                <p>At the end of the game, your team score will determine your position on the leaderboard.</p>
                                <p>You will gain points for every successful bomb disposal. You get 10 points for each step of disposing the bomb.</p>
                                <p>You will lose points when you lose health hearts. You will lose 2 points for each heart lost.</p>
                            </div>
                        </div>
                    </mat-tab>
                    <!-- <mat-tab label="Surveys">
                        <h2> REMAINING SURVEYS </h2>
                        <div *ngFor="let survey of sessionService.surveysObject.surveys; let surveyIndex=index;"  >                           
                            <div style="display:flex; width:80%; position:relative;left:2rem;">
                                <h2 style="display:inline;">{{survey.survey_name}}</h2><span style="flex-grow:1"></span><input [(ngModel)]="survey.complete" style="display:inline;width:1rem;height:1rem;position: relative;top:1.1rem;" type="checkbox">
                            </div> 
                        </div>
                        <div style="height:5rem;"></div>>       
                        <div>                                
                            <button class="btn" *ngIf="playerManager.requiredSurveysTaken==false" id="take-survey-button" style="height: 3rem;" (click)="takeSurvey()">TAKE REQUIRED SURVEYS</button>
                            <button class="btn" *ngIf="playerManager.requiredSurveysTaken==true && playerManager.optionalSurveysTaken==false" id="take-survey-button" style="height: 3rem;" (click)="takeSurvey()">TAKE REMAINING SURVEYS</button>
                            <p *ngIf="playerManager.ready_to_play_on_selection" style="color: #d8ff00;background-color: rgba(0,0,0,.2);">READY TO PLAY WHEN SELECTED</p>                            
                            <button class="btn" *ngIf="playerManager.selected_to_play" id="ready-to-play-button"  style="margin-right: 1rem;height: 3rem;" (click)="reroute_page()">I'M READY TO PLAY!</button>
                        </div> 
                    </mat-tab>   -->
                    
                    <mat-tab label="FAQ" style="height:100%;width:100%;">
                        <div id="faqouterdiv" style="height: 100%;width:100%;display: flex;flex-direction: column;" >
                        <iframe style="height:100%;width:100%;" [attr.src]="faqUrl"></iframe>
                        </div>
                    </mat-tab>
                    
                    <mat-tab label="Leaderboard"> 
                        <div class="leaderboard-card-container" style="overflow-y: auto; max-height: 80vh">
                            <table style="width:80%">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Team</th>
                                        <th>Date</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let trial of trials;let i = index" [class.selected-trial]="trial?.trialId === selectedTrial?.trialId">
                                        <td>{{i+1}}</td>
                                        <td>{{trial.teamId}}<br> <span class="fineprint" *ngFor="let member of trial.members;let last = last">{{!last? member + ', ': member}}</span></td>
                                        <td>{{trial.startTimestamp | date}}</td>
                                        <td>{{trial.teamScore}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="selected-trial-details" *ngIf="selectedTrial">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>POSITION</td>
                                                <td>{{selectedTrialRank}}</td>
                                            </tr>
                                            <tr>
                                                <td>SCORE</td>
                                                <td>{{selectedTrial.teamScore}}</td>
                                            </tr>
                                            <tr>
                                                <td>TEAM</td>
                                                <td>{{selectedTrial.teamId}}</td>
                                            </tr>
                                            <tr>
                                                <td>DATE</td>
                                                <td>{{selectedTrial.startTimestamp | date}}</td>
                                            </tr>
                                            <tr>
                                                <td>PLAYERS</td>
                                                <td><span *ngFor="let member of selectedTrial.members;let last = last">{{!last? member + ', ': member}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>  
                                    <div style="padding:8px">
                                        <mat-divider></mat-divider>
                                    </div>

                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>POINTS GAINED</td>
                                                <td>{{bombPhasesDisarmed * 10}}</td>
                                            </tr>
                                            <tr>
                                                <td>Bomb Stages Disarmed</td>
                                                <td>{{bombPhasesDisarmed}}</td>
                                            </tr>

                                            <tr>
                                                <td>TOTAL EXPLODED</td>
                                                <td>{{selectedTrial.bombsExploded?.TOTAL_EXPLODED}}</td>
                                            </tr>
                                            <tr>
                                                <td>DAMAGE TAKEN</td>
                                                <td>{{selectedTrial.damageTaken?.Team}}</td>
                                            </tr>

                                        </tbody>
                                    </table>  
                            </div>
                        </div>

                    </mat-tab>

                </mat-tab-group>     
            </div>
        <!-- </mat-card>             -->
    </div>        
</div>


</body>
</html>
