<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list *ngIf="cards | async as cards" cols="{{cards.cols}}" rowHeight="350px">
    <mat-grid-tile *ngIf="cards.testbeds" [colspan]="cards.testbeds.cols" [rowspan]="cards.testbeds.rows">
      <app-testbeds></app-testbeds>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="cards.services" [colspan]="cards.services.cols" [rowspan]="cards.services.rows">
      <app-services></app-services>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="cards.details" [colspan]="cards.details.cols" [rowspan]="cards.details.rows">
      <app-details></app-details>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="cards.containers" [colspan]="cards.containers.cols" [rowspan]="cards.containers.rows">
      <app-containers></app-containers>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="cards.properties" [colspan]="cards.properties.cols" [rowspan]="cards.properties.rows">
      <app-properties></app-properties>
    </mat-grid-tile>
  </mat-grid-list>
</div>
