mat-button-toggle-group{    
    min-height: 24px;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    padding: 0 2px !important;
    //line-height: 0px !important;
    min-width:16px;
    width:48px;
}