<mat-expansion-panel class="expansion-panel" (afterExpand)="testbedPanelOpened(host.host_ip)" (closed)="testbedPanelOpened('')" hideToggle>
  <mat-expansion-panel-header collapsedHeight="68px">
    <mat-panel-title>
      <mat-icon class="material-symbols-outlined {{mapClass(host)}} panel-title-icon">lens</mat-icon>
      <div class="panel-title-info">
        <div>{{host.host_ip}}</div>
        <small>{{instanceState.timestamp}}</small>
      </div>
    </mat-panel-title>
    <mat-panel-description class="panel-description-icons">
      <small>
        {{instanceState.message}}
      </small>
      <div class="icon-div">
        <mat-icon class="material-symbols-outlined {{instanceReady()}}">power_settings_new</mat-icon>
        <mat-icon class="material-symbols-outlined {{playersAllocated()}}">groups</mat-icon>
        <mat-icon class="material-symbols-outlined {{missionRunning()}}">videogame_asset</mat-icon>
        <mat-icon class="material-symbols-outlined {{autoExportComplete()}}">download</mat-icon>
        <mat-icon class="material-symbols-outlined {{instanceDown()}}">delete</mat-icon>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="instance-selector-panel">
    <button mat-mini-fab color="primary" (click)="decrementSlider()" [disabled]="stateService.getInstanceInfoLength(host.host_ip) <= 1">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="incrementSlider()" [disabled]="stateService.getInstanceInfoLength(host.host_ip) <= 1">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="instance-body-panel">
    <small>Instance Up: <span>{{instanceState['ready']}}</span></small>
    <small>Instance Down: <span>{{instanceState['down']}}</span></small>
    <small>Instance Down Reason: <span>{{instanceState['down_reason']}}</span></small>
    <small>Mission Timer: <span>{{instanceInfo['mission_timer']}}</span></small>
    <small>Mission Elapsed Milliseconds: <span>{{instanceInfo['mission_elapsed_milliseconds']}}</span></small>
    <small>Mission Name: <span>{{instanceInfo['mission_name']}}</span></small>
    <small>Mission State: <span>{{instanceInfo['mission_state']}}</span></small>
    <small>Mission State Change Outcome: <span>{{instanceInfo['mission_state_change_outcome']}}</span></small>
    <small>Trial ID: <span>{{instanceInfo['trial_id']}}</span></small>
    <small>Trial Name: <span>{{instanceInfo['trial_name']}}</span></small>
    <small>Trial Created: <span>{{instanceInfo['trial_created']}}</span></small>
    <small>Experimenter: <span>{{instanceInfo['experimenter']}}</span></small>
    <small>Subjects: <span>{{instanceInfo['subjects']}}</span></small>
    <small>Trial Number: <span>{{instanceInfo['trial_number']}}</span></small>
    <small>Group Number: <span>{{instanceInfo['group_number']}}</span></small>
    <small>Study Number: <span>{{instanceInfo['study_number']}}</span></small>
    <small>Condition: <span>{{instanceInfo['condition']}}</span></small>
    <small>Notes: <span>{{instanceInfo['notes']}}</span></small>
    <small>Players: <span>{{instanceInfo['players'] | json}}</span></small>
    <small>Team ID: <span>{{instanceInfo['team_id']}}</span></small>
    <small>Intervention Agents: <span>{{instanceInfo['intervention_agents']}}</span></small>
    <small>Observers: <span>{{instanceInfo['observers']}}</span></small>
    <small>Experiment ID: <span>{{instanceInfo['experiment_id']}}</span></small>
    <small>Experiment Name: <span>{{instanceInfo['experiment_name']}}</span></small>
    <small>Experiment Created: <span>{{instanceInfo['experiment_created']}}</span></small>
    <small>Experiment Author: <span>{{instanceInfo['experiment_author']}}</span></small>
    <small>Experiment Mission: <span>{{instanceInfo['experiment_mission']}}</span></small>
    <small>Map Name: <span>{{instanceInfo['map_name']}}</span></small>
    <small>Map Block Filename: <span>{{instanceInfo['map_block_filename']}}</span></small>
    <small>Trial Start: <span>{{instanceInfo['trial_start']}}</span></small>
    <small>Trial Stop: <span>{{instanceInfo['trial_stop']}}</span></small>
    <small>Auto Export Begin: <span>{{instanceInfo['auto_export_begin']}}</span></small>
    <small>Auto Export End: <span>{{instanceInfo['auto_export_end']}}</span></small>
  </div>
</mat-expansion-panel>
