<div id="PlanningInteractionContainer" style="display:flex; flex-direction: column;">
    <div>
        <p>Right Click anywhere on the map to the left to place a "Planning Flag".</p>        
        <p>Set a priority for each placed Flag to let your team know how to prioritize and synchronize.</p>
        <!-- <div id="flagButtonHighlight" style="padding:.5rem;width:3.1rem;height:3.1rem;cursor:pointer;display: inline-flex;">
            <img id="flagIconButton" style="height:3rem;width:3rem;" src={{this.sessionService.getAssetPath(iconPaths[0])}} (click)="this.iconSelectorService.toggleFlagMode()">
            <button style="margin-left: 1rem;" class="scale-dim" id="UndoFlagPlacement" (click)="undoFlagPlacement($event)">Undo Flag</button>   
        </div> -->
        <!-- <button (click)=advisorService.testIntervention()>Test Intervention</button>
        <button (click)=testBeacon()>Test Beacon</button>
        <button (click)=testFlag()>Test Flag</button> -->
    </div>

    <div style="background-color: rgb(61, 60, 61); border-radius: .5rem; border:.25rem white solid" *ngIf="iconSelectorService.currentSelectedIcon != null ">
        <div>
            <app-icon-updater [icon]="iconSelectorService.currentSelectedIcon"></app-icon-updater>
        </div>        
    </div> 
    
    <span style="flex-grow:1"></span> 
    <div>      
        <button id="ProceedToStoreButton" (click)="proceedToShop($event)">Proceed To Shop:Tools</button> 
    </div> 
  
    <div>
        <app-textchat></app-textchat>        
    </div>


</div>

