#PlanningInteractionContainer{
    
    text-align: left;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, .7);
    overflow-y: auto;
    height:84vh;
    border:2px solid gray;
    padding-right: 2%;
    padding-left: 2%;
}

#ProceedToStoreButton{
    width: 99%;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
}

.flags{
    z-index: 10;
}