.example-spacer {
  flex: 1 1 auto;
}

//.mat-icon {
//  vertical-align: middle;
//}

.mat-toolbar {
  span { margin-right: 2em; }
  mat-icon {
    cursor: pointer;
    font-size: 1.6em;
    //transform: translateY(3px);
  }
  h1 { font-size: 1.2em; }
}

@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
  }
}
