#faq-iframe{
    width:100%;
    height:80vh;
}


button{    
    border:1px solid black;
    background-color: cornflowerblue;
    font-size: 2rem;
    cursor: pointer;
    margin:2rem auto;
    width:100%;
    text-align: center;
}
