
<div >

    <div style="margin:1vh">
        <button class="scale-dim" (click)="viewMissionBrief()">
            View Mission Brief
        </button>
    </div>
    <div style="margin:1vh">
        <iframe id="faq-iframe" [src]="faqIframeSrc" title="FAQ/Help" frameborder="0"></iframe>
    </div>   

</div>

