p{
    font-size: 1.25rem;
    font-family: monospace;
    margin-bottom: 1rem;
    font-weight: bold;
}

button{
    width:120px;
    border:1px solid black;
    background-color: cornflowerblue;
    font-size: 1.25rem;
    cursor: pointer;
}

.iframe{
    width:80%;
    min-height:26rem;
}



