<div>

    <div class="bgImg"></div>

    <div id="outerdiv" style="text-align: center;overflow-y: auto;max-height: 75vh;" >
    
        <div style="text-align: center;">
            <h2>Welcome to the SocialAI.games Experiment ONLINE WAITING ROOM!</h2>
        </div>
    
        <p>You have been entered into the waiting queue and should see your registered Minecraft name in the table to the left.<p>
        <p>You will receive a notification from the server when you've been selected for an experiment.</p>
        <p>In the meantime, please take a moment to familiarize yourself with the gameplay tutorial linked in the video below.</p>
        
        <div class="videowrapper">
            <iframe class="iframe" src="https://www.youtube.com/embed/EjCR7TKq9-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
        
        <p>Once you are satisfied that you understand, please take the brief surveys following this prompt.</p>
        <p>If the 6 required surveys have already been completed in previous sessions, you may simply proceed from this prompt.</p>
       
        
        
        <p>Have Fun!</p>
        
    </div>
    <div style="text-align: center; margin: 2rem auto;">
        <button class="scale-dim" (click)="close()">OK</button>
    </div>

    <div class="bgImg">
        
    </div>
</div>


