p{
    font-size: 1.25rem;
    font-family: monospace;
    margin-bottom: 1rem;
    font-weight: bold;
}

.imgExample{
    min-width: 30rem;
    height: 20rem;
}


button{
    width:100px;
    border:1px solid black;
    background-color: cornflowerblue;
    font-size: 2rem;
    cursor: pointer;
    margin:1rem;
}

.image_container{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:26rem;
    width:100%
}

#minecraft_installation_image{
    background-image: url('../../assets/minecraft_version.png');
}

#layout_example_image{
    background-image: url('../../assets/layout_example.png');
}

#minecraft_direct_connect_image{
    background-image: url('../../assets/minecraft_direct_connect.png');
}

.margin{
    //margin: 2% 5%;
}
 
.font{
    font-size: 1.25rem;
}
 
.bgImg{
    background-image: url(../../assets/minecraft_background.png);

    background-repeat: repeat-x;
        
    background-size: 4rem 2rem;

    width:100%;
    height:2rem;
}