

<div style="height: 75vh; max-width:90vw; text-align: center; ">
   
    <div class="margin bgImg">        
    </div>

    <div style="height: 60vh;max-width: 90%; overflow-y: auto; margin: auto;">
        <h2>Time to Play!</h2>
        <p>You will be using this webpage for the entirety of the experiment, please do not close it until you have left the experiment session!</p>
        <p>If you have not already done so, go ahead and open your Minecraft Client to the custom 1.11.2 Forge installation as shown below:</p>
        <div class="image_container" id="minecraft_installation_image"></div>
        <p>Once the Minecraft Client is open, resize the Minecraft Client window to fit the right-hand section of of your computer screen.</p>
        <p>We recommend that it take up roughly 55% of your screen.</p>
        <p>Similarly, place this webpage (ClientMap) on the left-hand of your screen, taking up roughly 45% of the available area, as shown below.</p>
        <p>For an optimal experience we recommend adjusting your browser's zoom settings to 67%. Values between 50% and 75% will also work well. A larger zoom value will require you to do a lot more scrolling in the individual widgets.</p>
        <div class="image_container" id="layout_example_image"></div>
        <p>If you are having trouble resizing your Minecraft Client window, see the FAQ/Help Tab for guidance.</p>
        <p>Once you are satisfied with your display, select Multiplayer->Direct Connect</p>
        <div class="image_container" id="minecraft_direct_connect_image"></div>
        <p>Press the OK button below to proceed to the Mission Brief and obtain the Minecraft Server address. </p>
        <!-- <p>Enter the following into the server address input field : {{server_url}}. Then press Connect.</p>
        <div class="image_container"><img class="imgExample" id="minecraft_ip_address_image" ></div> 
     <img class="imgExample" src="../../assets/minecraft_version.png" id="minecraft_custom_installation_image" >
     <img class="imgExample" src="../../assets/layout_example.png" id="layout_example_image">
     <img class="imgExample" src="../../assets/minecraft_direct_connect.png" id="minecraft_direct_connect_image" >
    -->

    </div>  

    <div style="text-align: center; margin-top: 2rem;">
        <button class="scale-dim" (click)="close()">OK</button>
    </div> 

    <div class="margin bgImg">        
    </div>
    
</div>





