.testbed-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.testbed-card-content {
  overflow: hidden;
  /* min-height: 0; */
  display: flex;
  flex-direction: column;
  /* flex: 1 1 auto; */
}

.testbed-accordion {
  min-height: 0;
  display: flex;
  flex-direction: column;
  /* flex: 1 1 auto;  */
}

app-instance-panel {
  min-height: 0;
  display: flex;
  flex-direction: column;
  /* flex: 1 1 auto;  */
}

.mat-card {
display: flex;
flex-direction: column;
}

.more-button {
position: absolute;
top: 5px;
right: 10px;
}

.mat-card-content {
overflow-y: auto;
}

.state-ok {
color: #00ff00
}

.state-warning {
color: #ffff00
}

.state-error {
color: #ff0000
}

.mat-list-item-content {
align-items: flex-start !important;
}

.icon-div {
display: flex;
flex-direction: row;
gap: .5em;
}

.icon-disabled {
color:  #a9a9a9;
}

.panel-title-icon {
margin-right: 0.5em;
}

.panel-title-info {
display: flex;
flex-direction: column;
}

.panel-description-icons {
justify-content: end;
}

.instance-selector-panel {
display: flex;
justify-content: space-around;
}
