<mat-card class="testbed-card">
  <mat-card-header>
    <mat-card-title>
      {{title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="testbed-card-content">
<!--    <mat-selection-list #testbedList [multiple]="false" (selectionChange)="testbedSelectionChanged($event)">-->
<!--      <mat-list-option *ngFor="let host_ip of hostIps" [value]="host_ip">-->
<!--        <mat-icon class="material-symbols-outlined {{mapClass(host_ip)}}" mat-list-icon>lens</mat-icon>-->
<!--        <div mat-line>{{host_ip}}</div>-->
<!--        <div mat-line> <small>{{moment().format()}}</small></div>-->
<!--        <div mat-line>-->
<!--          <div class="icon-div">-->
<!--            <mat-icon class="material-symbols-outlined icon-line">power_settings_new</mat-icon>-->
<!--            <mat-icon class="material-symbols-outlined icon-line">groups</mat-icon>-->
<!--            <mat-icon class="material-symbols-outlined icon-line">videogame_asset</mat-icon>-->
<!--            <mat-icon class="material-symbols-outlined icon-line">download</mat-icon>-->
<!--            <mat-icon class="material-symbols-outlined icon-line">delete</mat-icon>-->
<!--          </div>-->
<!--        </div>-->
<!--      </mat-list-option>-->
<!--    </mat-selection-list>-->

    <mat-accordion class="testbed-accordion">
      <app-instance-panel *ngFor="let host_ip of hostIps" [host]="{host_ip: host_ip, state: testbeds[host_ip].state}">
      </app-instance-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
