<div>
  <div class="news-item" *ngFor='let newsItem of newsItems'>
    <strong class="date-item">{{newsItem.creation_date | date: 'MM/dd/yyyy' : 'UTC'}}</strong>
    <markdown class="markdown-item" [data]="newsItem.content"></markdown>
  </div>
</div>
