
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ClientMap-primary: mat-palette($mat-indigo);
$ClientMap-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ClientMap-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ClientMap-theme: mat-light-theme((
  color: (
    primary: $ClientMap-primary,
    accent: $ClientMap-accent,
    warn: $ClientMap-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin mix-app-theme($ClientMap-theme) {
  $primary: map-get($ClientMap-theme, $ClientMap-primary);
  $accent: map-get($ClientMap-theme, $ClientMap-accent);



  .mat-button-toggle-checked {
    background-color: mat-color($ClientMap-primary);
    color: mat-color($ClientMap-primary, default-contrast);
  }
}

@include angular-material-theme($ClientMap-theme);
@include mix-app-theme($ClientMap-theme);


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  //overflow-y: auto;
}

.mat-snack-bar-container.custom-snack {
  min-width: 30rem  !important;
  max-width: 100rem !important;
  max-height: 100% !important;
}

.scale-dim {
  scale: 1;
  &:hover {
    scale: 1.1;
    transition: opacity 0.2s ease-in-out;
  }
}