<div class="edit-container" fxLayout="column" fxLayoutGap="20px">
    <mat-card class="edit-card" *ngIf="adminAuth">
        <mat-card-header>
            <mat-card-title>
                <h2>Edit User</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #regForm="ngForm" fxLayout="column" fxLayoutGap="5px" class="edit-form" [formGroup]="editForm">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input (keydown.enter)="update(editForm.value)" matInput formControlName="userId" placeholder="Username.">
                    <button type="button" tabindex="-1" mat-icon-button matSuffix color="primary" (click)="showInfo()" aria-label="'more info'" aria-pressed="info">
                        <mat-icon fontIcon="info_outline"></mat-icon>
                        </button>
                    <mat-error *ngIf="editForm.get('username')?.hasError('invalid') && 
                                    (editForm.touched || editForm.dirty)">
                        Invalid Username.
                    </mat-error>
                </mat-form-field>
                <!-- <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Participant ID</mat-label>
                    <input (keydown.enter)="update(editForm.value)" matInput placeholder="Participant ID" formControlName="participantId">
                </mat-form-field> -->
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input (keydown.enter)="update(editForm.value)" matInput id="email" placeholder="pat@example.com" formControlName="email">
                    <mat-error *ngIf="editForm.get('email')?.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input (keydown.enter)="update(editForm.value)" matInput id="password" placeholder="Password" formControlName="password">
                </mat-form-field>
                <button fxFill mat-flat-button color="primary" [disabled]="!editForm.valid || isLoading" (click)="update(editForm.value)">Update User</button>
                <button fxFill mat-stroked-button color="primary" [disabled]="isLoading" [mat-dialog-close]="true">Cancel</button>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="unauth-card" *ngIf="!adminAuth">
        <mat-card-header>
            <mat-card-title>
                <h2>Unauthorized Access</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>You must be logged in as an admin in order to edit users.</p>
        </mat-card-content>
    </mat-card>
</div>