<div style="text-align: center; max-height: 80vh; overflow: auto;" id="mission-brief-div">

    <div class="bgImg margin">
        
    </div>
    <div style="max-width: 70%;margin:auto;">
       
        <h2> Please read the Mission Brief below. When you are ready, connect to the Minecraft Server and click the "Proceed To Recon" button at the bottom of this document.</h2>  
       
        <div style="max-height :34rem; overflow-y:auto; background-color: black;color: white;" >

            <h3>
                The Mission
            </h3>

            <p>
                A terrorist has littered your town with bombs. Left unchecked, these bombs will detonate and destroy the entire town. As a member of the state's elite ordnance disposal squad, you and your two teammates have been called upon to dispose of the bombs. 
            </p>

            <p>
                The town has three regions: Desert, Village, and Forest. Your mission is to protect the town from bomb explosions and consequent fire damage. The entire town depends on your team!
            </p>

            <p>
                The mission has a total time of 13 minutes. 3 minutes will be spent in Recon, the remaining 10 minutes will be spent in the field. Time spent planning in the Shop does not count toward your total mission time.
            </p>
            
            <h3>
                Bombs
            </h3>
            
            <p>
                The key to defusing bombs is to apply the Red, Blue, and Green wire cutters in the order that matches a particular bomb's wire sequence. You can right-click any bomb to reveal its wire sequence. Wire sequences will appear in the Minecraft Chat window along with additional information about the bomb. 
            </p> 

            <p>
                There are 3 types of bombs: Standard, Fire, and Chained. Standard Bombs have no special attributes.  Fire Bombs will start fires when they explode.  Chained Bombs cannot be disposed until the bomb they are chained to is disposed.
            </p>

            <h3>
                Fuses and Timers
            </h3>
            
            <p>
                Every bomb runs on a separate timer, and will start to tick automatically when the mission timer hits that bomb's FUSE START MINUTE. Once a bomb has been ticking for 15 seconds, it will explode unless a player cuts one of its wires. Cutting any wire on a ticking bomb will reset the current ticking fuse. After cutting a wire, if there are additional wires on that bomb, the 15 second fuse will re-activate. If you do not cut the next wire before the fuse runs out the bomb will explode. If you cut the wrong wire, the bomb will explode. Explosions within a 6 block radius will damage you.          
            </p> 
            
            <h3>Fire</h3>
    
            <p> When a Fire Bomb explodes, it will start a fire. This fire will spread at regular intervals if you do not extinguish it. Standing in fire will damage you. </p>
            
            <h3>Damage</h3>

            <p>
                Getting caught in an explosion will remove half your health unless you have equipped your PPE. The PPE can withstand one explosion while fully protecting the player. Similarly, standing in fire will make you lose 5% of your health per second. The PPE offers no protection from fire. Losing over 90% of your health will freeze your player. Your teammates can come and hit you with any tool to unfreeze you. This will restore you to full health. You cannot die in this particular mission.
            </p>

            <h3>
                Points and Coins
            </h3>

            <p>
                Each successfully cut wire will earn your team 1 coin and 10 points. Using the Bomb Disposer tool on a bomb will earn you a maximum of 1 coin and 10 points, regardless of the number of wires that bomb contains. Taking damage will lose your team points equivalent to the amount of damage you have taken. You will lose 10 points for being caught in an explosion, and 1 point for every second you are burned by fire.
            </p>

            <h3>Recon Phase</h3>
            <p>
                You are about to begin the Recon Phase of the mission. You will have 3 minutes to scout the map and communicate important information to your team using the available Bomb and Hazard Beacons.
            </p>
            <p>
                Once you have completed your Recon phase, you will go back to the Shop to plan and purchase useful tools like wire cutters and PPE.  
            </p>
            <h3>The Shop</h3>
            <p>
                You can vote to visit the shop as many times as you like by pressing the "E" key in Minecraft. Once everyone votes to go to the Shop the team will be instantly transported there. The Shop phase has no time limit, so your team can take as long as necessary to strategize before returning to the field.
            </p> 


        </div>        
    </div>
    
    <div style="margin:auto; max-width: 70%;">
        <h3 style="color:black"> 
            Connect to the Minecraft Server by entering the IP Address below exactly as it appears in the  Server Address text field. Then press the "Join Server" button as shown below: 
        </h3>

        <div style="border: 4px black solid; width:50%; margin: 2rem auto;">
            <h2 style="margin: 1rem auto;">{{server_url}}</h2>
        </div>   
           
        <div id="minecraft_ip_address_image" >
        </div>
        
        <h3 style="color:black"> 
            (Occassionally the first connection attempt is unsuccessful, so try to connect at least a couple of times.)    
        </h3>
    
        <h3 style="color:black"> 
            Once you are connected, you may press "Proceed To Recon". This Mission Brief will always be available in the FAQ/Help Tab for further reference.    
        </h3>
    
 
    
        <div *ngIf="sessionService.numTransitionsToField == 0" style="text-align: center; ">
            <button id="MissionBriefCloseButton" class="scale-dim" (click)="setReadyToLeaveStore($event)">Proceed To Recon</button>
        </div>
        <div *ngIf="sessionService.numTransitionsToField > 0" style="text-align: center;">
            <button id="MissionBriefCloseButton" class="scale-dim" (click)="close()">Got It!</button>
        </div>    
    
    </div>
    
    <div class="bgImg margin">
       
    </div>
    

</div>

