h1,h2 {
    text-align:center;
}

.registration-instructions {
    text-align:center;
}

.registration-instructions-important {
    text-align:center;
    font-weight: bold;
    font-size: 110%;
    color: firebrick;
}