<h1 mat-dialog-title>Please Confirm Your Username</h1>
<div mat-dialog-content>
    <h2>You entered: {{data.username}}</h2>
    <p class="registration-instructions-important">Please confirm the username you entered EXACTLY matches your MineCraft username, including capitalization.</p>
    <p class="registration-instructions"><strong>Aren't sure about your Minecraft username?</strong> <br> You can find it in the Minecraft launcher (circled in red in the picture below).</p>
    <div style="text-align:center">
        <img style="max-width:400px" src="assets/launcher-username.png" alt="Minecraft Launcher">
    </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-flat-button color="primary" [mat-dialog-close]="true">Continue With Registration</button>
  <button mat-flat-button mat-dialog-close>Cancel and Edit Username</button>
</div>
