@import '~@angular/material/theming';
@import '../../../metadata-theme.scss';

mat-option {
  min-height: 48px;
  line-height: 1.15;
  height: auto;
  padding: 8px 16px;
  white-space: normal;
}

:host ::ng-deep .mat-form-field-cursor div.mat-form-field-wrapper {
  cursor: pointer;
}

.accent-color {
  color: mat-color($mat-accent, main) !important;
}

.asi-color {
  background-color: mat-color($mat-accent, darker) !important;
  color: mat-color($mat-light-theme-foreground, light) !important;
}

mat-form-field {
  width: 100%;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-radio-group {
  display: flex;
  flex-direction: row;
}

.mat-radio-button {
  margin-right: 0.5em;
}

.mat-icon {
  cursor: pointer;
}

.mat-slide-toggle-quick {
  margin: 0 0.65em;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.hide-icon {
  display: none;
}

.fade-in-out {
  animation: fadeinout 3s linear forwards;
  -webkit-animation: fadeinout 3s linear forwards;
  -moz-animation: fadeinout 3s linear forwards;
  -o-animation: fadeinout 3s linear forwards;
  -ms-animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $light-text;
}

::ng-deep .mat-pseudo-checkbox::after {
  color: $light-text;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  //background-color: #A5C73C;
  //color: $light-text;
}

.example-list {
  //width: 500px;
  //max-width: 100%;
  //border: solid 1px #ccc;
  //min-height: 60px;
  //display: block;
  //background: white;
  border-radius: 4px;
  //overflow: hidden;
  cursor: pointer;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px $light-text;
  color: $light-text;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: mat-color($mat-accent, main);
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-subheader {
  color: $light-disabled-text !important;
}
