


<div *ngIf="sessionService.mission_stage === 'shop_stage' || sessionService.mission_stage === 'pre_mission'" style="margin:1vw;">

    <div class="chatbox" id="chatContainer">
        <p *ngFor="let chat of sessionService.receivedChats" [ngStyle]="setStyle(chat[0])">{{chat[0]}} : {{chat[1]}}</p>    
    </div>
    <div style="display: block;">
        <input (keyup.enter)="onInputEnter($event)" placeholder="Type To Chat. Press Enter To Send.">
    </div>

</div>


