<img src={{toolTuple[0]}} style="width:3rem;height:3rem;">

<p> NAME : {{toolTuple[1]}}</p>
<p> COST : {{toolTuple[2]}}</p>
<p> USAGE : {{toolTuple[3]}}</p>
<p> INFO : {{toolTuple[4]}}</p>

<div style="text-align: center; margin-top: 2rem;">
    <button class="scale-dim" style="font-size: 2rem;cursor: pointer;"(click)="close()">OK</button>
</div>
