 <div style="position:absolute;width:29vw; height:100vh">
 
    <div id = labelGrid style="display:grid">
        
        <div #GridDivs class="GridDivs" *ngFor="let n of labelSpacingDivs;">
            <p *ngIf="n.axis == 'y'" style="width:100%;height:100%;margin-top: 60%;margin-left: 25%;">                
                <b>{{n.label}}</b>
            </p>
            <p *ngIf="n.axis == 'x'" style="width:100%;height:100%;margin-left: 40%;">                
                <b>{{n.label}}</b>
            </p>
        </div>

    </div>
</div>

