<div style="box-sizing: border-box;width:100%;height:100%;">
    <div style="box-sizing: border-box;display:flex;margin: 0vh 2vh; ">
        <div style="max-height:80vh; height:80vh; width:29vw; margin-right: 1vw;">
            <div style="overflow: auto; background-color: rgba(0,0,0,0.7); padding: 2vh; border-radius:.5vh; box-sizing: border-box; margin-bottom:1vh;height: 42vh;">
                <div style="text-align: center;">
                    <h4 style="color: white; "> About SocialAI.Games </h4>
                </div>

                <p class="info-text">SocialAI.games is a collaborative effort between industry, academia, and government partners to advance the science of socially aware artificial intelligence.</p>

                <p class="info-text">After creating an account and logging in, you&rsquo;ll play a team-oriented Minecraft-based online game. Players will receive guidance from AI Advisors, contribute to science, and have the opportunity to win multiple prizes.</p>

                <p class="info-text">Watch the tutorial below, <a routerLink="/GameMechanics">learn more about the game</a>, or <a routerLink="/Login" fragment="competition" [skipLocationChange]="true">read about the prizes</a>.</p>

                <p class="info-text">Players must be at least 18 years of age and reside in the United States.</p>

                <p class="info-text">Note: The server is available 24/7, but there may not always be 2 other players in the Waiting Room to form a team with you. If that is the case, you may either wait for more players to join, or check back in at a high traffic time like a planned event. </p>

            </div>

            <div style="overflow: auto; background-color: rgba(0,0,0,0.7); padding: 1vh 1vw ; border-radius:.5vh; box-sizing: border-box; height: 39vh;">
                <div style="text-align: center;">
                    <h4 style="color: white; "> About The Competition </h4>
                </div>
                <p class="info-text">There are two ways to win prizes:</p>
                <h4 style="color: white; ">Grand Prize</h4>
                <p class="info-text">At the end of the competition (estimated to be October 2023), each member of the 10 highest scoring teams will receive a $50 gift card.</p>
                <h4 style="color: white; ">Weekly drawing</h4>
                <p class="info-text"> Starting 8/28, members of the top 3 performing teams for that week will each receive a $25 gift card (limit $75 per unique team). An additional team will also be selected from the top 50% of scoring teams for that week (excluding the top 3 performing teams previously mentioned) and each member of that team will receive $25.</p>
                <h4 style="color: white;">Special Events</h4>
                <p class="info-text">
                    Special events like the Kickoff Day Competition offer additional prizes. Check the News and Updates section for relevant information.
                </p>
            </div>

        </div>
        <div class="news" style="display: inline-block; height:78vh;width:54vw">
            <div style="margin: auto; overflow: auto; text-align: center; border-radius:.5vh; height: 40vh; background-color: rgba(0,0,0,0.7);  padding: 1vh 1vw ;">
                <h3 style="color: white;"> News and Updates </h3>
                <app-news></app-news>
<!--                <div style=" color: white;  font-size:.75rem; background-color: #283528;  padding: 1vh 1vw ; text-align: left;margin:1vw;border:1px solid white">-->
<!--                    <p>8/29/2023</p>                    -->
<!--                    <h4>Hybrid Game Night on Thursday August 31!</h4>-->
<!--                    <p>Join us at hybrid game night at ASU Polytechnic Campus Library on 8/31, from 5 pm to 8 pm PT. Food provided!  Online players, including those not at ASU, are also welcome to play the game with on-site players.</p>-->
<!--                    <h4>Updated Rewards!</h4>-->
<!--                    <p>Starting 8/28, members of the top 3 performing teams for that week will each receive a $25 gift card (limit $75 per unique team). An additional team will also be selected from the top 50% of scoring teams for that week (excluding the top 3 performing teams previously mentioned) and each member of that team will receive $25.</p>-->
<!--                    <h4>AI Advisors!</h4>-->
<!--                    <p>Two new ASI advisors will be launched on August 29th. Keep an eye out for their advice while you play! They will be regularly updated so come back and check out how well the new ASI advisors are doing. </p>-->
<!--                    <p>As a reminder, the server is available 24/7, but the game requires 3 players to form a team. We encourage participation from 5 pm to 8 pm PT (8 pm - 11 pm ET) each day to have more players online at the same time to form teams. Or, you can bring two friends to play with you at any time you choose.</p>-->
<!--                    <p>For technical issues, you can email <a href="mailto:support@socialai.games?subject=SocialAI.games Support." style="color:#add8e6">support@socialai.games</a> or request a Zoom appointment to get help at the link below:</p>-->
<!--                    <a href="https://calendly.com/asist-asu/asist-minecraft-study-zoom-support?month=2023-08" target="_blank" style="color:#add8e6"> Click for Calendly Link </a>-->
<!--                </div>-->
<!--                <div style=" color: white;  font-size:.75rem; background-color: #283528;  padding: 1vh 1vw ; text-align: left;margin:1vw;border:1px solid white">-->
<!--                    <p>8/16/2023</p>                    -->
<!--                    <p>Join our Kickoff Day Competition on Aug 18 from 9am-9pm PT / 12pm-12am ET!</p>-->
<!--                    <p>Be among the first 50 players to finish 2 full games and earn a $5 Amazon gift card!</p>-->
<!--                    <p>Compete, collaborate, and win big!</p>-->
<!--                    <p>The top team wins Amazon gift cards worth $300 ($100 for each team member).</p>-->
<!--                    <p>Be part of groundbreaking research while having a blast. Don’t miss it!</p>-->
<!--                    <p>During the Kickoff Day, real-time technical support will be provided at the following Zoom Link: </p>-->
<!--                    <a href="https://asu.zoom.us/j/82510834899" target="_blank" style="color:#add8e6"> Click for Zoom Link </a>-->
<!--                </div>-->
            </div>
            <div style="display:block; text-align: center; margin-top: 1vh;">
                <iframe style="width:100%;min-width: 400px;height:39vh" src="https://www.youtube.com/embed/EjCR7TKq9-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div style="display: inline-block;box-sizing: border-box; width:26vw" >
            <div >
                <mat-card style="margin:0vh 1vw;height: 24vh;">
                     <div style="text-align: center;">
                        <h3>Login to SocialAI.games</h3>
                     </div>

                    <div *ngIf="!loggedIn">
                        <div *ngIf="showErrorMsg" id="errorMessage">

                            <p class="font-size=.75rem">Wrong username or password. Please check your credentials and try again.</p>

                        </div>
                        <mat-card-actions >
                            <mat-form-field class="login-input" appearance="fill">
                                <mat-label>Username *</mat-label>
                                <input (keydown.enter)="login()" [(ngModel)]=username matInput [type]="'text'">
                            </mat-form-field>
                            <mat-form-field class="login-input" appearance="fill">
                                <mat-label>Password *</mat-label>
                                <input (keydown.enter)="login()" [(ngModel)]=password matInput [type]="hide ? 'password' : 'text'">
                                <button tabindex="-1" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </mat-card-actions>
                        <div>
                            <button class="button" (click)="login()" >Log in</button>
                        </div>

                    </div>
                    <div *ngIf="loggedIn">
                        <mat-card-content>
                            <p>You are logged in as {{this.currentUser?.userId}} (Participant {{this.currentUser?.participantId}}).</p>
                            <p>Once you are ready to play, return to the <a routerLink="/Download">Setup page</a> then proceed to the game lobby.</p>
                        </mat-card-content>
                    </div>
                </mat-card>

                <mat-card *ngIf="!loggedIn" style="text-align: center; height: 4vh;font-size: .75rem; background-color: white; border-radius: 4px; padding: 1vh 1vw;margin:1vh 1vw ">
                    <p style="margin:0 0">Don't have an account? </p>
                    <a routerLink="/Registration">Click Here To Register.</a>
                </mat-card>
                <mat-card *ngIf="!loggedIn" style="text-align: center; height: 4vh;font-size: .75rem; background-color: white; border-radius: 4px; padding: 1vh 1vw ;margin:1vh 1vw ;">
                    <p style="margin:0 0">Forgot your Login Information? </p>
                    <u style="color: blue;cursor: pointer;margin:0 0;" (click)="accountRecovery()">Recover Account Info Via Email</u>
                </mat-card>


                <div class="leaderboard-card-container">
                    <mat-card class="info-card" style="overflow: auto; height: 35vh;margin: 1vh 1vw;">
                        <div >
                            <div style="text-align: center; color: white;">
                                <h3>Top Teams</h3>
                            </div>

                            <table style="font-size: .75rem;">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Team</th>
                                        <th>Date</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let trial of trials;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{trial.teamId}}<br> <span class="fineprint" *ngFor="let member of trial.members;let last = last">{{!last? member + ', ': member}}</span></td>
                                        <td>{{trial.startTimestamp | date}}</td>
                                        <td>{{trial.teamScore}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </mat-card>
                </div>
            </div>
        </div>

    </div>

</div>

