#errorMessage {
    color: red;
}

::ng-deep .mat-tab-label, .mat-tab-label-content{
    color: white;
    font-size: 1.25rem;
}

.card-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.mechanics-card-container {
    min-width: 150px;
    max-width: 1200px;
    width: 100%;
}

.login-main {
    column-gap: 10px;
    padding: 20px;
    max-width: 1400px;
}

.login-input {
    width: 100%;
}

.info-text {
    font-size: 18px;
    line-height: 28px;
    color: white;
}

.fineprint {
    font-size: 12px;
    color: rgb(210, 210, 210);
}

.info-text a {
    color: lightblue;
}

.info-text a.back-link {
    color: white;
    text-decoration: none;
    background: #3e453f;
    padding: 6px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 80%;
}

.info-text a.back-link:hover {
    background: #818f83;
}

.mechanics-card {
    background-color: rgba(0,0,0,0.7);
}

#mechanicsouterdiv {
    height: 100%;
    width:100%;
    padding:5px;
    display: flex;
    flex-direction: row;
}

.instructionsCol {
    text-align: left;
    padding: .5rem;
    padding-bottom: 30px;
    color: white;
    // margin-right:3px;
    // background-color:#254A32;

    p {
        font-size: 1rem;
        padding-left: 10px;
        margin-block-start:0.5rem;
    }

    h2 {
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        background: #254A32;
    }

    h3 {
        font-size:1.1rem;
        margin-block-end:0.5rem;
        color: #6dcd3d;
    }

    strong {
        color: #6dcd3d;
    }

    .instructionItems {
        display:flex;
        justify-content: space-around;
        width:100%;

        .instructionItem {
            background: #333;
            text-align: center;
            border-radius: 4px;
            padding: 6px 2px 4px 2px;
            font-size: 0.85rem;
            
            img {
                height:36px;
            }

            .itemName {
                font-size: 0.85rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 4px; 
            }
        }
    }

    .instructionTools {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 4px;
        width:100%;

        .instructionTool {
            display: flex;
            flex-direction: row;
            background: #333;
            text-align: left;
            border-radius: 4px;
            padding: 6px 2px 4px 2px;
            font-size: 0.85rem;
            
            .toolIcon {
                flex: 0 42px;
                display: flex;
            }

            img {
                width:36px;
                margin: auto 8px;
            }

            .toolText {
            }
            
            .itemName {
                font-size: 0.85rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 4px; 
            }
        }
    }
}
