<div id="outerdiv" style="max-height: 80vh; overflow: auto;">

    <div class="bgImg"></div>

    <div *ngIf="playerManagerService.entrance_survey_reminder">
        <div>
            <p>Complete this survey to be added to the "ready" player list to the left.</p>
        </div>

        <div style="text-align: center;margin: 2rem auto;">
            <button (click)="takeSurvey()"> OK </button>
        </div>        
           
    </div>
    
    <div *ngIf="playerManagerService.ready_to_play_on_selection">
        <div>
            <p> You are now ready to participate in the Experiment!</p>
            
            <p> On the next team selection cycle, {{websocketService.config.team_assembly?.players_per_team}} players will be placed on a team. </p>
            
            <p> When your team has formed, you will see the Team Formed column on the left become a checkmark.</p>

            <p> It will generally take about 2 minutes to create a server for your team.</p>

            <p> Once the server is ready, you will be given a prompt to proceed to the experiment.</p>            
            
        </div>

        <div style="text-align: center;margin: 2rem auto;">
            <button (click)="close()">OK</button>
        </div>      
    </div>
    
    
    <div *ngIf="playerManagerService.selected_to_play">
        <div>
            <p> You have been selected to participate in the Experiment!</p>
            
            <p> If you have not already done so, launch your Minecraft Client, selecting the Forge 1.11.2 Custom installation.</p>
            
            <p> You will be resizing your Minecraft Window and placing it on the right side of your computer screen. </p>

            <p> It is recommended that this Web Page takes up 40% of the left of your screen, and Minecraft takes up 60% of the right of your screen.</p>
            
            <br>
            
            <P> Click " Proceed To Experiment " if you are ready to start the Experiment. </P>
            
            <P> If you need some time, select "Take A Moment ", and take some time to get familiar with the game rules. </P>  

            <P> You currently have up to 3 minutes to Proceed before it is assumed you have abandoned the Experiment.</P>

            <p> When you are ready to play, click the "Ready to Play" button below!</p>
        </div>
    
        <div  style="display:flex; margin: 2rem auto;">   
            <button class="scale-dim" (click)="waitForUser()"> Take A Moment</button>
            <span style="flex-grow:1"></span>
            <button class="scale-dim"  (click)="proceedToExperiment()"> Proceed To Experiment </button>
        </div>
    </div>

    <div *ngIf="playerManagerService.experiment_abandoned">
        <div>
            <p> Something has prevented your or your teammates from proceeding to the Experiment Server.</p>
            <p> You have automatically been placed in the waiting queue once again and will be matched with a team shortly. </p>
            <p> Press Ok below to Confirm.</p>
            
        </div>
    
        <div style="text-align: center; margin: 2rem auto;">
            <button (click)="close()">OK</button>
        </div> 

    </div>
    
    <div class="bgImg"></div>

</div>
