<div style="display: block;text-align: center;">
    <p style="font-size: 1.25rem;">Please enter the email address associated with your account below:</p>
    <div>
        <input type="text" [(ngModel)]="email" style="width: 98.5%;height:2rem;font-size: 1.25rem;">
    </div>
    
    <div style="display: block;">
        <button class="scale-dim" style="margin-right: 50%;" (click)="close()">Close</button> 
        
        <button class="scale-dim" (click)="accountRecovery()">Submit</button></div>
    <div>

    <div style="display: block;text-align: center;">

        <mat-spinner style="margin:auto" *ngIf="spinner"></mat-spinner>

        <p>{{response}}</p> 
        
    </div>
      
</div>


