<div id="mainWrapper" *ngFor="let survey of sessionService.surveysObject.surveys; let surveyIndex=index;" >

    <div *ngIf="sessionService.activeSurveyIndex === surveyIndex">
        
        <h1>{{survey.survey_name}}</h1>

        <div *ngFor="let data of survey.data; let dataIndex=index;">
            
            <div *ngIf="isSurveyQuestion(data)">

                <div *ngIf="data.image_asset != null">
                    <img src={{getImagePath(data.image_asset)}}>
                </div>

                <h3>
                    <p>{{data.text}}</p>
                </h3>
                
                <div *ngIf="isTextField(data)" style="text-align: left;" >

                    <input type='text' (change)="textInputChange($event,surveyIndex,dataIndex)">

                </div>

                <div *ngIf="isTextArea(data)" style="text-align: left;" >

                    <textarea rows="4" cols="50" (change)="textInputChange($event,surveyIndex,dataIndex)"></textarea>

                </div>

                <div *ngIf="isMultipleChoice(data)" style="text-align: left;" >

                    <mat-radio-group (change)="radioChange($event,surveyIndex,dataIndex)">
                        <mat-radio-button *ngFor="let label of data.labels;let labelIndex=index;" value={{labelIndex+1}} style="display:block;" >
                            {{label}}
                        </mat-radio-button>
                    </mat-radio-group>

                </div>

                <div *ngIf="isSlider(data)" style="text-align: left">
                    <!-- <div *ngFor="let label of data.labels;let labelIndex=index;" style="display: block; font-size: 1rem;max-width: 5rem;"> 
                        <p *ngIf="labelIndex==0" style="display: inline;">{{label}}</p>
                    </div> -->
                    <div style="display: flex; font-size: 1rem;max-width: 70%;"> 
                        <p style="display: inline;">{{data.labels[0]}}</p>
                        <span style="flex-grow: 1;"></span>
                        <p style="display: inline;">{{data.labels[data.labels.length-1]}}</p>
                    </div>
                    
                    <mat-slider (change)="sliderChange($event,surveyIndex,dataIndex)" [min]=getMinLabel(surveyIndex,dataIndex) [max]=getMaxLabel(surveyIndex,dataIndex) [step]=getStepSize(surveyIndex,dataIndex) value=0  thumbLabel discrete showTickMarks>
                        <input matSliderThumb>
                    </mat-slider> 

                </div>
                
            </div>

            <div *ngIf="isSurveyText(data)">

                <p>{{data.text}}</p>
                
            </div>          
        
        </div>
    </div>
</div>

<div style="margin-top:2rem;text-align: center;">
    <button class=btn (click)="completeSurvey()"> Complete Survey </button>
</div>





































