p{
    text-align: left;
    font-size: 1rem;
    
}

mat-radio-button {
    margin:2rem;
}

mat-slider {
    width: 70%;
    height: 5%;
}

#mainWrapper{
    text-align: left;
    width:80%;
}

button{
    width:120px;
    border:1px solid black;
    background-color: cornflowerblue;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 1rem;
}

#mainWrapper{
    width:100%;
}

.btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}