.margin{
    //margin: 2% 5%;
}
 
.font{
    font-size: 1.25rem;
}
 
.bgImg{
    background-image: url(../../assets/minecraft_background.png);

    background-repeat: repeat-x;
        
    background-size: 4rem 2rem;

    width:100%;
    height:2rem;
}

button{
    width:100px;
    border:1px solid black;
    background-color: cornflowerblue;
    cursor: pointer;
    margin-bottom: 1rem;    
}